{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">ILC Activities List</h1>
        <div class="button-container1">
            <a class="btn btn-outline-primary" href="{% url 'addactivity' %}" role="button">Add an ILC Activity</a>
        </div>
        <ul class="product-list">
            {% for activity in ilcactivities %}
                <li class="product-item">
                    <div class="product-info">
                        <h2>{{ activity.activity_name }}</h2>
                        <p>{{ activity.resource_type }}</p>
                        <a href="{% url 'activities.detail'  pk=activity.activity_id %}">View Details</a>
                    </div>
                </li>
            {% empty %}
                <li>No ILC Activities</li>
            {% endfor %}
        </ul>
        <!-- HTML code -->
        <a href="{% url 'studio.welcome' %}" class="back-link text-center">Back to Studio Page</a>
    </div>
{% endblock %}
